
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
h1{
    font-size: 2cm;
    text-align: center;
    color: rgb(205, 48, 220);
    text-shadow: 30px;
    text-shadow: 0 0 30px rgb(235, 171, 232);
    
}
body{
 background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  background-image:url(https://i.pinimg.com/originals/47/0a/19/470a19a36904fe200610cc1f41eb00d9.jpg);
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica;
  letter-spacing: 0.02em;
   font-weight: 400;
  -webkit-font-smoothing: antialiased; 
       
}

#card{
    margin-top: 1cm;
    position: absolute;
    width: 250px;
    height: 350px;
    top: calc(50% - 175px);
    left: calc(50% - 125px);
    background: inherit;
    border-radius: 2px;
    overflow: hidden;
}

input.user-password{
    width: 120px;
    height: 25px;
    opacity: 0.4;
    border-radius: 2px;
    padding: 5px 15px;
    border: 0;
}
#items{
    width:100px;
    justify-content:start ;
}
#listItem{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(160,192,204,0.03338913690476186) 35%, rgba(0,212,255,1) 100%);
  width: 120px;
    color: aliceblue;
}
#lax{
    justify-content: end;
}